body{
    width: 0px;
    background-color:hsl(233, 47%, 7%);
    padding: 0px;
    margin:170px 170px 170px 240px ;
   
}
.main_card{
    display: flex;
    /* flex-wrap: wrap-reverse; */
    width: fit-content;
}
.left_card{
    width: 400px;
    height: 300px;
    background-color: hsl(244, 38%, 16%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;


}
.uper_left_card{
    margin-top: 20px;
    padding: 10px; 
    width:fit-content;
}
.bottom_left_card{
    margin: 10px;
    margin-top: 20px;
    width: fit-content;
    display: flex;

    
}

.text{
    margin-top: 25px;
}

.Headings{
    font-family:"Inter black",sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 18pt;
    width: fit-content;
    
}
.FontColor{
    color: hsl(277, 64%, 61%);
}
.Paragraph{
    font-family: "Inter light",sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 12px;

}
.statistics{
    font-size: 12pt;
    font-weight: bold;
    color: #fff;
    font-family: "Lexend Deca",sans-serif;
    
}
.Statistics_margin{
    margin: 15px;
}
img {
    width: 400px;
    height: 300px;
    border-radius: 5px;
  }

